body {
    background-color: black;
    text-align: center;
}

/* Welcome page */

h1 {
    padding-top: 30px;

}

p {
    margin-top: 30px;
    
}

.welcome-container {
    height: 800px;
    width: 800px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* are displayed after clicked OFC button */
#input-name {
    display: none;
    margin-left: auto;
    margin-right: auto;
    
}

#start-button {
    display: none;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 80px;
    padding: 5px;

}
