@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Butterfly+Kids&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-size: 30px;
    background-color: #0E939A;
    font-family:  'Architects Daughter', sans-serif;
}

/* Welcome page */

h1 {
    padding-top: 30px;
    font-family: "Righteous", sans-serif;
    font-size: 40px;

}

p {
    margin-top: 30px;

}

.welcome-container {
    height: 1000px;
    width: 900px;
    border-radius: 4px;
    background-color: #12E2DB;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: 10px 10px 10px #3D3D3D;
}

#message-section {
    margin-top: 100px;
}

#welcome-message {
    margin-top: 100px;
}

/* elements displayed after clicked OFC button */

input {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    height:40px;
    background-color: #0E939A;
    border: none;
    border-radius: 4px; 
    
}

input::placeholder {
    font-weight: bold;
    font-size: 15px;
    color: white;
    color: #12E2DB;
    padding-left: 10px;
}

#yesBtn {
    margin-top: 50px;
    margin-right: 15px;
    border: none;
    font-family:  'Architects Daughter', sans-serif;
    background-color: #EE9933;
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #3D3D3D;


}

#noBtn {
    margin-top: 50px;
    margin-left: 15px;
    border: none;
    font-family:  'Architects Daughter', sans-serif;
    background-color: #EE9933;
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #3D3D3D;


}

.back-btn {
    margin-top: 20px;
    border: none;
    font-family:  'Architects Daughter', sans-serif;
    background-color: #EE9933;
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #3D3D3D;
}

#start-button {
    display: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    font-family:  'Architects Daughter', sans-serif;
    background-color: #EE9933;
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #3D3D3D;


}
/* Player section */

#player-section {
    display: none;
}


#player2 {
    float: left;
    margin-top: 100px;
    margin-left: 80px;

    width: 200px;
    height: 300px;
    background-color: #EE9933;
    border-radius: 4px;
    opacity: 0.9;
    box-shadow: 10px 10px 10px #3D3D3D;

}

#player1 {
    float: right;
    margin-top: 100px;
    margin-right: 80px;

    width: 200px;
    height: 300px;
    background-color: #0E939A;
    border-radius: 4px;
    opacity: 0.9;
    box-shadow: 10px 10px 10px #3D3D3D;
}

.displayName-container {
    font-size: 30px;
}

.symbol-container {
    font-size: 50px;
    margin-top: 1rem;
}

.scoreArea-container {
    font-size: 30px;

}
/* Gameboard */ 

#game-section {
    display: none;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

#game-board {
    display: grid;
    grid-template-columns: auto auto auto;
}

.box {
    display: flex;
    height: 100px;
    width: 100px;
    border: #3D3D3D 1px solid;
    font-size: 50px;
    font-family:  'Architects Daughter', sans-serif;
    text-align: center;
    justify-content: center;
    line-height: 95px;
    cursor: pointer;

}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;

}

.box:nth-child(3n + 1) {
    border-left: none;
}

.box:nth-child(3n + 3) {
    border-right: none;
}

.box:last-child,
.box:nth-child(8),
.box:nth-child(7) {
    border-bottom: none;

}

#restartbtn-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    
}

#restartbtn {
    margin-top: 70px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    font-family:  'Architects Daughter', sans-serif;

    border: none;
    background-color: #EE9933;
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #3D3D3D;

}